<div class="app-card-container">
  <div>
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-primary"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>About Me</p>

        I am a software developer looking to apply my knowledge to real-world projects. I love to complete puzzles, which has translated into a love of programming and learning new ways to solve the problems I encounter in my development process. My interest in development began while I was working as a tech support agent. I found that most problems could be solved by the customer online, which lead me to begin my journey into the development world. 

        <hr>

        
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <h5>Castro &amp; Co. Jewelers</h5>
              <p>Store Manager</p>
            </div>
            <div class="card card-block">
              <h5>Vivint Smart Home</h5>
              <p>Technical Support Specialist</p>
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              <h4>Utah Valley University</h4>
              <div>BS Computer Science</div>
              <div>In Progress | Grad 2019</div>
            </div>
            <div class="card card-block">
              <h4>Bottega Tech</h4>
              <div>Completed accelerated Full Stack development courses.</div>
              <div>February 2018 - May 2018</div>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>